body {
  width: 100vw;
  background-color: #FFEBF0;
  flex-direction: column;
  margin: 0;
}

h1 {
  font-family: 'Mansalva';
  font-size: 24px;
  text-transform: uppercase;
  color: black;
}

h2 {
  font-family: 'Mansalva';
  font-size: 20px;
  text-transform: uppercase;
  color: black;
}

h3 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 10%;
  text-transform: uppercase;
  color: black;
}

p {
  font-family: 'Montserrat';
  font-size: 16px;
  color: black;
}

div {
  position: relative;
  display: block;
}

header {
  width: 100vw;
  height: auto;
  background-color: #FFEBF0;
  padding: 0;
  position: absolute;
}

.hero {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_image {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -1;
}

.hero_image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  

}

div.hero_text {
  text-align: center;
  z-index: +1;
}

div.hero_text h1,
div.hero_text h3 {
  color: black;
}

div.hero_image {
  width: 100%;
} 

img {
  width: 100vw;
  height: auto;
}

button {
  font-family: 'Montserrat';
  font-size: 16px;
  color: white;
  letter-spacing: 10%;
  text-transform: uppercase;
}

.nav_accordeon_01 {
  background-color: #815AEF;
  border: none;
  text-align: left;
  padding: 20px 50px;
  width: 100%;
}

.nav_accordeon_02 {
  background-color: #0E543D;
  border: none;
  text-align: left;
  padding: 20px 50px;
  width: 100%;
}