body {
  width: 100vw;
  background-color: #FFEBF0;
}

header {
  width: 100vw;
  height: auto;
  background-color: #FFEBF0;
  padding: 0;
  position: relative;
}

div.header_image {
  position: relative;
  width: 100vw;
  height: auto;
}

h1 {
  font-family: 'Mansalva';
  font-size: 24px;
  text-transform: uppercase;
  color: black;
}

h2 {
  font-family: 'Mansalva';
  font-size: 20px;
  text-transform: uppercase;
  color: black;
}

h3 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 10%;
  text-transform: uppercase;
  color: black;
}

p {
  font-family: 'Montserrat';
  font-size: 16px;
  color: black;
}

div.header_image {
display: flex;
  width: 100%;
} 

div.header_text {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
}

div.header_text h1,
div.header_text h3 {
  color: black;
}


img {
  width: 30vw;
  height: auto;
}

button {
  font-family: 'Montserrat';
  font-size: 16px;
  color: white;
  letter-spacing: 10%;
  text-transform: uppercase;
}

.nav_accordeon_01 {
  background-color: #815AEF;
  border: none;
  text-align: left;
  padding: 20px 50px;
  width: 100%;
}

.nav_accordeon_02 {
  background-color: #0E543D;
  border: none;
  text-align: left;
  padding: 20px 50px;
  width: 100%;
}